<section class="flex flex-col w-full items-center gap-4 mt-12">
  <h1 class="font-black text-2xl text-center mb-5">Shopping List </h1>
   <div class="flex gap-6">
      <p>Amount of food items to buy:
        <% total_items = 0 %>
        <% @required_food.each do |food| %>
          <% if food[1]['quantity'] <= -1 %>
            <% total_items += 1 %>
          <% end %>
        <% end %>
        <%=total_items %>
      </p>
      <p>
          Total price: 
          <% total_price = 0 %>
          <% @required_food.each do |food| %>
            <% if food[1]['quantity'] <= -1 %>
              <% total_price += food[1]['value'] * food[1]['quantity'] * -1 %>
            <% end %>
          <% end %>
          $<%=total_price %>
      </p>
   </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Food</th>
          <th scope="col" class="px-6 py-3">Quantity</th>
          <th scope="col" class="px-6 py-3">Value</th>
        </tr>
      </thead>
      <tbody>
        <% @required_food.each_with_index do |recipe_food, i| %>
          <% if recipe_food[1]['quantity'] <= -1 %>
            <tr
              class="<%= i % 2 != 0 ? 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700' : 'bg-white border-b dark:border-gray-700' %>"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                <%= recipe_food[1]['food_name'] %>
              </th>
              <td class="px-6 py-4">$<%= recipe_food[1]['quantity'].to_i * -1 %></td>
              <td class="px-6 py-4">$<%= recipe_food[1]['value'].to_i * recipe_food[1]['quantity'].to_i * -1 %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>