<div class="food-div flex flex-col mt-8 mx-9">
<h1 class="text-2xl text-black font-bold">Foods </h1>
<div class="d-flex flex-row-reverse">
  <%= link_to new_food_path, class: "btn btn-primary" do %>
    <%= content_tag :i, nil, class: "bi bi-plus-circle-fill" %>
    Add food
  <% end %>
</div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="table table-striped table-bordered mt-4">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Food</th>
          <th scope="col" class="px-6 py-3">Measurement unit</th>
          <th scope="col" class="px-6 py-3">Unit price</th>
          <th scope="col" class="px-6 py-3">Quantity</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each_with_index do |food, i| %>
        <tr
          class="<%= i % 2 != 0 ? 'border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700' : 'bg-white border-b dark:border-gray-700' %>"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <%= food.name %>
          </th>
          <td class="px-6 py-4"><%= food.measurement_unit %></td>
          <td class="px-6 py-4">$<%= food.price %></td>
          <td class="px-6 py-4">$<%= food.quantity %></td>
          <td class="px-6 py-4">
          <%= link_to food_path(food.id), data: {turbo_method: :delete, turbo_confirm: 'Delete this recipe food?'}, class: "btn btn-danger" do %>
            <%= content_tag :i, nil, class: "bi bi-trash" %>
            Remove
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>